@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Dela Gothic One", Arial, sans-serif;
    color: white;
    background-color: #161616;
}

.title {
    h1 {
        font-size: 5vh;
    }
    text-align: center;
}

.projects {
    padding-top: 5vh;
    display: grid;
    place-items: center;
    .project-1 {
        display: flex;
        flex-direction: column;
    }
}